.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 1 Introducción
      .tituloPrincipal__icono 

  .row.my-5
      .col
          .card
              .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bNDD81GFZ2U', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
              .card-body.mt-0
                  strong Información sobre el coronavirus | 
                  | En diciembre de 2019 se detectó un grupo de casos de neumonía en China, los investigadores encontraron que fue causado por un virus desconocido, ahora llamado el nuevo CORONAVIRUS o COVID-19. Acompáñanos a revisar lo que sabemos del nuevo virus.

  .row.my-5
    .col-12   
      p Todos los trabajadores de la salud deben comprender las características epidemiológicas y clínicas de COVID-19 y los protocolos de actuación para la admisión y atención de los PACIENTES, en los servicios de urgencias. 

  .row.justify-content-center.align-items-center
    .col-4.col-md-4.col-lg-3.mb-5  
      .img-container    
        figure
          img(src="../content/images/1.0_introduccion/icon_introduccion_01.svg", alt="")
    .col-4.col-md-4.col-lg-3.mb-5   
      .img-container    
        figure
          img(src="../content/images/1.0_introduccion/icon_introduccion_02.svg", alt="")
    .col-4.col-md-4.col-lg-3.mb-5   
      .img-container    
        figure
          img(src="../content/images/1.0_introduccion/icon_introduccion_03.svg", alt="") 

  .row.mb-5
    .col-12.mb-5
      .text-hero.text-hero--arrow-bottom.text-center
        h3 Cadena de transmisión de las infecciones derivadas de la atención de pacientes con COVID-19 

    .col-12  
      .img-container    
        figure
          img(src="../content/images/1.0_introduccion/info_introduccion.svg", alt="")

          

    