.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 2. Prevención y control en el servicio de urgencias para atención de paciente con sospecha o diagnostico COVID-19
      .tituloPrincipal__icono 

  .row.justify-content-center.my-5
    .col-10
      .card#que_es_ts
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/YcyHmF7Zwt0', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

  .row.hr_divider
  .row.my-5
    .col-12   
      p En la actualidad debido a la pandemia generada por el COVID-19 la bioseguridad en los servicios de urgencias está enfocada en el uso de Elementos de Protección Personal EPP adecuados en la situación indicada.

  .row.justify-content-center.align-items-center.mb-5
    .col-12.col-lg-9
      .img-container    
        figure
          img(src="../content/images/2.0_prevencionCotrol/info_tabla.svg", alt="")

    .col-12.col-lg-9 
        .media-link-btn
          a(href="../content/media/Elementos-proteccion-por-area.pdf" target="_blank").media-link      
            .media-link-btn__container        
              .media-link-btn__icon  
                img(src="../assets/images/icons/icon_pdf.svg", alt="")     
              .media-link-btn__copy
                p #[strong Anexo -] Elementos de Protección Personal por áreas. 

  .row.hr_divider.mb-5
  .row.mb-3
    .col-12   
      p Los elementos de protección personal recomendados frente a la pandemia de COVID-19 incluyen:<br/><br/>      
      ul
        li Vestido quirúrgico de tela o desechable.
        li Gorro, tapabocas tipo quirúrgico.
        li Mascarilla de alta eficiencia (Tipo N95 o FFP2).
        li Monogafas.
        li Pantalla facial (careta).
        li Batas desechables.
        li Guantes de manejo.

.container-fluid.fluid-hero.d-flex.flex-column
  .container.my-auto
    .row.justify-content-center.align-items-center
      .col-12 
        .img-container    
          figure
            img(src="../content/images/2.0_prevencionCotrol/img_equipoMedico.svg", alt="")

  
  

  
    
    


