.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 3. Atención inicial de urgencias en pacientes sospechosos o con diagnóstico de COVID-19.
      .tituloPrincipal__icono 

  .row.justify-content-center.my-5
    .col-12  
      p En el contexto actual, se prioriza la rápida identificación de caso sospechoso e implementación de medidas que disminuyan la diseminación de SARS-CoV2. La "herramienta de detección en triage: #[strong IDENTIFICAR, AISLAR, INFORMAR]" aporta una mirada rápida en relación a la forma de manejar desde el triage estos casos.
  .hr_divider

  .row.justify-content-center
    .col-12.col-md-8.col-lg-6.col-xl-5.mb-5
      .img-container    
        figure
          img(src="../content/images/3.0_atencionInicial/img_atencion_Inicial.svg", alt="")   

    .col-12.col-md-12.col-lg-6.col-xl-5  
      P En el área de #[strong TRIAGE], se debe indagar o preguntar sobre:<br/><br/>   
      ul.custom-listItem
        li Contacto estrecho con una persona con COVID-19 con una persona sintomática confirmada con COVID-19 en los últimos 14 días.
        li Convivir en el mismo lugar, tener contacto íntimo o brindar servicio en un entorno no médico a una persona confirmada con COVID-19 sintomática, sin haber tenido precauciones para el cuidado en el aislamiento.
        li Viaje a países con circulación viral confirmada del nuevo Coronavirus (SARS-CoV-2) en los 14 días anteriores.

  .hr_divider
  .row.align-items-start.justify-content-center.flex-lg-nowrap  
    .card-media-vertical.col-12.col-md-10.col-lg-4
      .card-media-vertical__body                 
        figure.card__figure
          img(src="../content/images/3.0_atencionInicial/icon_sintomas_01.svg", alt="") 
        p.card__copy.text-center #[strong Fiebre]<br/> ¿Ha observado la aparición reciente de fiebre >38 grados en los últimos 14 días?
       
    .card-media-vertical.col-12.col-md-10.col-lg-4
      .card-media-vertical__body                  
        figure.card__figure
          img(src="../content/images/3.0_atencionInicial/icon_sintomas_02.svg", alt="") 
        p.card__copy.text-center #[strong Tos]<br/> ¿Ha observado la aparición reciente de tos o disnea en los 14 últimos días?

    .card-media-vertical.col-12.col-md-10.col-lg-4
      .card-media-vertical__body               
        figure.card__figure
          img(src="../content/images/3.0_atencionInicial/icon_sintomas_03.svg", alt="") 
        p.card__copy.text-center #[strong Viaje y contacto]<br/> ¿Ha viajado a un país con alta transmisión de COVID-19 o ha tenido contacto con alguien con diagnóstico positivo o presunción de COVID-19?

  .row.my-5
    .col-12
      .text-hero.text-hero--arrow-bottom.text-center
        h3 Paciente con sintomas respiratorios

  .row.justify-content-center.my-5    
    .col-12.col-md-8.col-lg-6
      .img-container    
        figure
          img(src="../content/images/3.0_atencionInicial/info_sintomas_pacientes.svg", alt="")

    .card-txt.col-12.col-lg-7.mb-5
      .card-txt-body
        p.card-txt__body__copy Para aclarar el estado afebril de la persona, indagar si está consumiendo medicamentos antinflamatorios o acetaminofén.         

    .col-12    
      p En el caso que la persona cumpla con la definición establecida, el encargado del triage debe alertar frente a la presencia de un posible caso al jefe de urgencias de turno o quien haga sus veces, con el fin que sea realizado el aislamiento por contacto gotas (mascarilla quirúrgica) de forma inmediata.
 
  .hr_divider.mb-5

  

       



    