.container
  .row.my-5
    .tituloPrincipal.col-12
      .tituloPrincipal__txt
        h2 5. Medios de diagnóstico en el servicio de urgencias con pacientes con sospecha de COVID-19
      .tituloPrincipal__icono 

  .row.my-5
    .col-12   
      p El diagnóstico de la infección respiratoria por COVID-19, se realiza con base en:<br/><br/>
      ul
        li Valoración de signos y síntomas respiratorios.
        li Hisopados o aspirado nasofaríngeo.
        li Pruebas rápidas de detección COVID-19.
        li Imágenes diagnósticas. 

  .row
    .col-12.mb-5
      .text-hero.text-hero--arrow-bottom.text-center
        h3 Valoración de signos y síntomas respiratorios

  .row.justify-content-center.mt-5
    .col-7.col-md-4.col-lg-3.mb-3
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/icon_sintomas_01.svg", alt="")  
    .col-7.col-md-4.col-lg-3.mb-3
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/icon_sintomas_02.svg", alt="")    
    .col-7.col-md-4.col-lg-3.mb-3
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/icon_sintomas_03.svg", alt="")  
    
  .row.justify-content-center
    .col-7.col-md-4.col-lg-3.mb-3
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/icon_sintomas_04.svg", alt="")    
    .col-7.col-md-4.col-lg-3.mb-3
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/icon_sintomas_05.svg", alt="")  
    .col-7.col-md-4.col-lg-3.mb-3
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/icon_sintomas_06.svg", alt="") 

    .card-txt.col-12.col-lg-10.mb-5
      .card-txt-body
        p.card-txt__body__copy Pueden ser leves, moderados o graves y semejantes a los de otras infecciones respiratorias agudas (IRA). 

  .row
    .col-12.mb-5
      .text-hero.text-hero--arrow-bottom.text-center
        h3 Hisopados o aspirado nasofaríngeo
        
  .row.justify-content-center.my-5
    .col-12
      .card
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AYcUGakNHfQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body.mt-0
          p Las muestras deben ser tomadas por personal capacitado y teniendo en cuenta todas las instrucciones de bioseguridad, incluido el uso de los equipos de protección personal adecuado para virus respiratorios.      

  .row
    .col-12.mb-3
      .text-hero.text-hero--arrow-bottom.text-center
        h3 Pruebas rápidas de detección COVID-19
 
  .row.my-5.justify-content-center.align-items-center
    .col-12.col-md-10.col-lg-6      
      p Es importante recordar que al país hace pocos días llegaron las pruebas rápidas de detección del coronavirus las cuales utilizan un   filtro que identifica los anticuerpos IgM o IgG. Se toman unas gotas de sangre de un paciente con síntomas sospechosos y se añaden a este filtro. Si los anticuerpos IgM o IgG se encuentran presentes en el espécimen de sangre del paciente, se produce una reacción de color en el filtro. El cambio de color, que puede ser detectado en 30 minutos, significa que la muestra contiene posibles anticuerpos que han detectado SARS-CoV-2 en el paciente.      
    .col-9.col-md-7.col-lg-4.my-5 
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/img_covid-test.svg", alt="") 
  
  .row
    .col-12.mb-5
      .text-hero.text-hero--arrow-bottom.text-center
        h3 Imágenes diagnosticas 

  .row.my-5.justify-content-center.mb-5
    .col-12.col-md-10.col-lg-5      
      p Para realizar un estudio detallado del estado del paciente se necesitará de la Intervención por el área de imágenes diagnósticas en la toma de radiografía de tórax, TAC de tórax (Tomografía) broncoscopia y otros medios de diagnóstico clínico que sean requeridos para el manejo de paciente con sospecha de COVID-19.<br/><br/>
      |De igual manera se realizará la recolección de muestras para análisis en Laboratorio Clínico tomadas por el personal de enfermería y/o profesional de terapia respiratoria como:<br/><br/>
      |Muestras de vías respiratorias superiores (hisopos faríngeos, hisopos nasales, secreciones nasofaríngeas), muestra de las vías respiratorias inferiores (esputo, secreciones de las vías respiratorias, líquido de lavado bronco alveolar).<br/><br/>
      figure.d-none.d-xl-block
          img(src="../content/images/5.0_medios_diagnostico/info_pulmones.svg", alt="")  
    .col-11.col-md-8.col-lg-5
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/tomografia.png", alt="")  
      .img-container    
        figure
          img(src="../content/images/5.0_medios_diagnostico/pulmones_covid.png", alt="")