doctype html
html(lang='es')
    include includes/unidadt/head.pug
    
    body
    
        include includes/unidadt/navbar.pug

        include includes/unidadt/main-content.pug


    
    include includes/unidadt/scripts.pug

