head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title EDT-Manejo del paciente en Urgencias con Infección Respiratoria Aguda-Grave COVID-19
  meta(meta name="description" content="Este Evento de Divulgación Tecnológica está dirigido al Talento Humano en Salud que desempeña su labor en los servicios de Urgencias, respondiendo a los lineamientos de la Organización Mundial de la Salud (OMS) y el Gobierno Nacional para desarrollar  el plan  de  acción  en la fase de mitigación del Virus.")   
  link(rel="icon",type="image/svg+xml",href="../assets/images/logos/senaLogo.svg")
  link(rel="stylesheet", href="../assets/fonts/fontawesome/css/font-awesome.css")  
  link(href='../assets/css/fancybox.css', rel='stylesheet')
  link(href='../assets/css/animate.css', rel='stylesheet')
  link(href='../assets/css/main.css?v=4', rel='stylesheet')