head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Manejo Clínico en Atención de Urgencias para pacientes con COVID-19
  link(rel="icon",type="image/svg+xml",href="../assets/images/logos/senaLogo.svg")
  link(rel="stylesheet", href="../assets/fonts/fontawesome/css/font-awesome.css")  
  link(href='../assets/css/main.css', rel='stylesheet')
  