footer#footer
    .container
        .container.footer__header
            .row
                .footer__info__title.col-2
                    h1 Créditos               
                    .horizontal-divider-footer

        .container
            .row.footer__info          
                .footer__info__column.col-md-5        
                    .footer__info__column__profile
                        h2 Autor
                        p.mb-3
                        | #[strong Liliana Velez]<br/>
                        span.text-small Instructor
                        br
                        span.text-small.text-uppercase Centro Servicios de Salud - Antioquia

                        p.mb-3
                        | #[strong Dra. Nora Luz Salaza]<br/>
                        span.text-small Subdirectora
                        br
                        span.text-small.text-uppercase Centro Servicios de Salud - Antioquia


                    .footer__info__column__profile
                        h2 Revisión
                        p.mb-3 
                        strong Dr. Luis Gabriel Bernal
                        br
                        span.text-small Director Dirección Desarrollo Talento Humano en Salud
                        br
                        span.text-small.text-uppercase Ministerio de Salud y Protección Social

                        p.mb-3 
                        strong Francisco Ariza
                        br
                        span.text-small Grupo de Formación  THS
                        br
                        span.text-small.text-uppercase Ministerio de Salud y Protección Social

                        p.mb-3 
                        strong Silvia Mora
                        br
                        span.text-small Grupo de Formación  THS
                        br
                        span.text-small.text-uppercase Ministerio de Salud y Protección Social

                        p.mb-3 
                        strong Janeth Ramirez
                        br
                        span.text-small.text-uppercase Secretaría Departamental de Salud del Valle

                        p.mb-3
                        | #[strong Ruth Mireya Suárez]<br/>   
                        | #[strong Emilia Sarmiento]<br/>                
                        span.text-small.text-uppercase SENA - RED SALUD

                    
                .footer__info__column.col-md-5  
                    .footer__info__column__profile
                        h2 Diseño y Desarrollo Recursos Educativos Digitales
                        p.mb-3
                        | #[strong Francisco José lizcano Reyes]<br/>
                        span.text-small Responsable del Equipo <br/>
                        span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA   
                    .footer__info__column__profile             
                        p.mb-3
                        | #[strong Lady Adriana Ariza Luque ]<br/>         
                        | #[strong Nelson Iván Vera Briceño]<br/>
                        | #[strong Daniel Ricardo Mutis Gómez]<br/>
                        | #[strong Carlos Julian Ramirez Benitez]<br/>
                        span.text-small Diseño Web <br/>
                        span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA  

                    .footer__info__column__profile             
                        p.mb-3
                        | #[strong Víctor Raúl Cárdenas Cáceres]<br/>         
                        span.text-small Producción audiovisual <br/>
                        span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA      

                .footer__info__column.col-md-2  
                
                    .d-flex.flex-column
                        img(src="assets/images/logos/senaLogo.svg", alt="Logo SENA")