nav#navbar.navbar.fixed-top.flex-md-nowrap.col-md-8.col-lg-9.ml-sm-auto.p-0.transition
    #toggler.col-12.mx-auto
        a.navbar-toggler(data-toggle='collapse', data-target='#verticalNavbar', aria-controls='verticalNavbar', aria-expanded='true', aria-label='Toggle navigation')
            i.icon.bars
        .float-right
            img#navbar__logo.img-fluid(src='../assets/images/logos/senaLogo.svg', alt='Logo SENA')
