mixin creditosFooter(ruta)
    footer#footer
        .container
            .container.footer__header
                .row
                    .footer__info__title.col-2
                        h1 Créditos               
                        .horizontal-divider-footer

            .container
                .row.footer__info          
                    .footer__info__column.col-md-5        
                    
                        .footer__info__column__profile
                            h3.mb-1.text-uppercase Diseño y Desarrollo Recursos Educativos Digitales</u>


                            p.mt-4.mb-3
                                | #[strong Francisco José Lizcano Reyes]<br/>
                                span.text-small Responsable del Equipo <br/>
                                span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA   
                                br
                                span.text-small Floridablanca, Santander

                            .footer__info__column__profile             
                                p.mb-3
                                    | #[strong Lady Adriana Ariza Luque ]<br/>   
                                    | #[strong Daniel Ricardo Mutis Gomez ]<br/>                  
                                    | #[strong Eulises Orduz Amezquita ]<br/>                       
                                    | #[strong Nelson Iván Vera Briceño]<br/>
                                    | #[strong José Jaime Luis Tang Pinzón]<br/>
                                    | #[strong Carlos Julian Ramirez Benitez]<br/>
                                    | #[strong Leyson Fabian Castaño Perez]<br/>
                                    | #[strong Luis Gabriel Urueta Alvarez]<br/> 
                                    | #[strong Camilo Andrés Villamizar Lizcano]<br/>                                             
                                    | #[strong Víctor Raúl Cárdenas Cáceres]<br/>        
                                    | #[strong Oleg Litvin]<br/>
                                    span.text-small Diseño Web & Producción Audiovisual<br/>
                                    span.text-small.text-uppercase CENTRO INDUSTRIAL DEL DISEÑO Y LA MANUFACTURA   
                                    br
                                    span.text-small Floridablanca, Santander

                            .footer__info__column__profile
                                h3.mb-1 AUTORES

                                p.mb-3.mt-4
                                    | #[strong José Daniel Rivera Pérez]<br/>
                                    span.text-small Instructor
                                    br
                                    span.text-small.text-uppercase Centro De Formación De Talento Humano
                                    br
                                    span.text-small Regional Distrito Capital

                                p.mt-4.mb-3
                                    | #[strong Emilia Sarmiento]
                                    br
                                    span.text-small Dinamizadora Virtual
                                    br
                                    span.text-small.text-uppercase Dirección de Formación Profesional
                                    br
                                    span.text-small Dirección General


                    .footer__info__column.col-md-5  
                        .footer__info__column__profile
                            h3 REVISIÓN

                            p.mb-3 
                                strong Francisco Ariza Montoya.
                                br
                                span.text-small Coordinador Grupo de Formación Talento Humano Salud
                                br
                                span.text-small  Dirección de Desarrollo del Talento Humano Salud
                                br
                                span.text-small.text-uppercase MINISTERIO DE SALUD Y PROTECCIÓN SOCIAL

                            p.mb-3 
                                strong Silvia Mora
                                br
                                span.text-small Grupo de Formación Talento Humano Salud
                                br
                                span.text-small  Dirección de Desarrollo del Talento Humano Salud
                                br
                                span.text-small.text-uppercase MINISTERIO DE SALUD Y PROTECCIÓN SOCIAL

                            p.mb-3 
                                strong Janeth Ramirez
                                br
                                span.text-small.text-uppercase Secretaría Departamental de Salud del Valle

                            p.mb-3
                                | #[strong Ruth Mireya Suárez]<br/>   
                                | #[strong Emilia Sarmiento]<br/>                
                                span.text-small.text-uppercase SENA - RED SALUD

                            p.mb-3
                                | #[strong Rafael Neftali Lizcano]<br/>   
                                span.text-small Asesor Pedagógico
                                br
                                span.text-small.text-uppercase Centro Industrial del Diseño y la Manufactura
                                br
                                span.text-small Floridablanca, Santander

                            p.mb-3
                                | #[strong Ingry Dayanna Bonilla]<br/>   
                                span.text-small Dinamizadora Virtual
                                br
                                span.text-small.text-uppercase Dirección de Formación Profesional
                                br
                                span.text-small Dirección General


                    .footer__info__column.col-md-2  
                        .d-flex.flex-column
                            img(src= ruta)

    section#cc
        .container
            .d-flex.flex-column.flex-sm-row
                span.pr-3
                    i.icon.cc
            
                p
                    | Este material puede ser distribuido, copiado y exhibido por terceros si se muestra en los créditos. No se puede obtener ningún beneficio comercial y las obras derivadas tienen que estar bajo los mismos términos de la licencia que
                    | el trabajo original.